.label {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.input {
  width: 48rem;
  height: 6.4rem;
  padding: 0 2.4rem;
  outline: none;
  border-radius: 4rem;
  background-color: #2F2F37;
  border: none;

  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  color: white;
  font-family: var(--font-family);

  transition: .2s ease outline;

  &_disabled {
    width: 48rem;
    height: 6.4rem;
    padding: 0 2.4rem;
    border-radius: 4rem;
    background-color: #2F2F37;
    border: none;

    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    color: white;
    font-family: var(--font-family);

    transition: .2s ease outline;

    outline: .2rem solid red;
  }

  &:focus {
    outline: .2rem solid #4c4cff;
  }

  &::placeholder {
    color: #8585AD;
  }

  &__error__message {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    color: red;
    font-family: var(--font-family);
    text-align: left;
    padding-left: 5rem;
    width: 100%;
    margin-top: .5rem;

    position: absolute;
    bottom: -2rem;
  }

  &__hide__button {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    right: 2rem;
    border: none;
    background-color: transparent;
    transition: .4s ease opacity;

    &:hover {
      opacity: .4;
    }
  }

  &__hide__icon {
    width: 2.4rem;
    height: 2.4rem;
  }
}



